<p>	<b>This is the place for contact information of all emplyees</b> </p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <!--Body content-->

      <ul>
        <li ng-repeat="contact in contacts">
          Name: <input type="text" name="username" ng-model="contact.name" ng-blur="updateData()"/><br>
		  Age: <input type="text" name="age" ng-model="contact.age"/><br>
		  Department: <input type="text" name="department" ng-model="contact.Department"/><br>
		  City: <input type="text" name="city" ng-model="contact.City"/><br>
		  Location: <input type="text" name="location" ng-model="contact.Location"/><br>
		  Address: <input type="text" name="location" ng-model="contact.Address"/>
        </li>
      </ul>

    </div>
  </div>
</div>